[submodule "Projects/Projects/Numerical-Analysis-Algorithms-Implement"]
	path = Projects/Projects/Numerical-Analysis-Algorithms-Implement
	url = https://github.com/Abdelrahman26/Numerical-Analysis-Algorithms-Implementation.git
